@page "/manage"
@using Microsoft.EntityFrameworkCore
@inject BloggingContext DbContext

<h1>Manage</h1>
<h3>Data from DB</h3>
<ul>
    @foreach (var item in items)
    {
        <li>@item.BlogId</li>
    }
</ul>

@code {
    private List<Blog> items;

    protected override async Task OnInitializedAsync()
    {
        items = await DbContext.Blogs.ToListAsync();
    }
}